<p>Si en algun momento te caes levantate ve por todo hy personas que estaran a tu lado...</p>
<p>y otras que no pero no importa enfocate en ti y en lo que quieres porque solo tu sabes lo que vales adelante continua crfeciendo</p>

<style>
    p{
        color: white;
        text-decoration-color: aquamarine;
        text-align: center;
        justify-content: center;
    }
</style>